.biz-index-search-result {
  display: flex;
  max-width: 1100px;
  width: 90%;
  margin: 10px;
  &:hover {
    margin-bottom: 24px;
    box-shadow: 2px 2px 5px rgba(#000, 0.2), 2px 2px 17px rgba(#000, 0.35),
      2px 2px 25px rgba(#000, 0.5);
  }
}

.biz-index-search-result > * {
  margin-top: 1rem;
}

.biz-image {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-right: 2.5rem;
  margin-left: 1rem;
  margin-bottom: 10px;
}

.biz-info {
  min-width: 400px;
}

.biz-outdoor-takeout {
  min-width: 400px;
  font-size: 12px;
  padding-top: 4rem;
  color: #757280;
}

.biz-index-subtitle {
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.biz-category-tag {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 0.375em;
  color: #4a4a4a;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
}

.biz-index-contact-info p {
  font-size: 0.7rem;
  font-weight: 300;
  color: #757280;
}

.biz-search-container {
  display: inline-block;
  width: 60%;
}
