.biz-index-container-border {
    border-top: 1px solid rgb(245,24,11);;
}

.biz-index-container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 1500px;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 90%;
    padding: 10px;
}

.biz-index-container-header {
    display: block;
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(193, 62, 14);
}

.biz-index-container-head-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 12px;
    font-size: 24px;
    padding-left: 20px;
    line-height: 10px; 
    font-weight: 400;
    color: #000000;
}

.biz-index-container-subhead {
    display: flex;
    width: 300px;
    margin-left: auto;
    margin-right: 70%;
}

.biz-all-results {
    text-decoration: none;
}

.biz-index-container-subhead-1 .biz-index-container-subhead-2 .biz-index-container-subhead-3 {
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 12px; 
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: auto;
    font-weight: bold;
    color: rgb(43, 39, 60);
    border: 1px solid rgb(187, 186, 192);
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.4s;
    cursor: pointer;
}

.biz-index-subcontainer {
    display: flex;
    width: 1000px;
    height: 2000px;
    margin-left: auto;
    margin-right: auto;
}

.biz-index-biz-list {
    width: 500px;
    height: 200px;
}