$color-accent: #fff;

@media screen and (max-width: 600px) {
  .nav-bar a,
  .nav-bar input[type='text'] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .nav-bar input[type='text'] {
    border: 1px solid #ccc;
  }
}

.nav-bar input[type='text'] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.header {
  text-align: center;
  background-color: #c60e1b;
  padding: 20px;
  font-size: 35px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
  margin: 0 auto;
  min-width: 530px;
  background: #c60e1b;
}

.navbar-items {
  position: initial;
  padding: 8px;
  display: inline;
}

.user-icon {
  color: #fff;
  display: block;
}

.login-btn {
  color: #fff;
  top: 2px;
  text-decoration: none;
  padding: 5px;
  margin: 0px;
  z-index: 1;
  &:hover {
    transition: all 0.3s ease-out;
    box-shadow: 0 -1px 0 0 white inset, 0 -2px 0 0 $color-accent inset;
  }
}

.signup-btn {
  color: #fff;
  top: 25px;
  text-decoration: none;
  padding: 9px 5px;
  margin: 8px;
  z-index: 1;
  &:hover {
    border: 1px solid #ccc;
    color: #666;
    background-color: #f7f7f7;
    background: linear-gradient(#fff, #f7f7f7);
    padding: 6px;
  }
}

.user-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: chocolate;
  min-width: 81px;
  margin: 2px;
  padding: 10px 20px;
  cursor: pointer;
}

.user-dropdown:hover .dropdown-content {
  display: block;
  &:hover {
    background-color: #42a74e;
  }
}

.search-bar-nav {
  padding-top: 15px;
  width: 55%;
}

.nav-bar-left {
  display: flex;
  width: 15%;
  padding: 15px;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
}

.nav-bar-right {
  display: flex;
  width: 40%;
  padding: 15px;
  text-decoration: none;
  color: white;
}

.navbar-all-businesses {
  text-decoration: none;
  color: white;
  padding: 2px 8px 1px 25px;
  min-width: 10%;
  line-height: 25px;
  &:hover {
    text-decoration: underline;
  }
}

.navbar-logo {
  width: 75px;
  margin-right: 1rem;
  height: auto;
}

.navbar-FA {
  padding: 3px;
  &:hover {
    color: green;
  }
}

.tbi-logo-container {
  width: 25px;
}

.tbi-navbar-logo {
  background-image: url(https://tbi-seeds.s3-us-west-1.amazonaws.com/tbi-v3.png);
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200%;
  height: 100%;
}
