.review-tags-container {
  display: flex;
  color: #000;
}

.review-tags-container div form button {
  width: 10rem;
  margin-right: 2rem;
  font-size: 1.1rem;
  font-weight: 700;
  font-style: italic;
  border-radius: 1rem;
}

.review-tags-container div form button span {
  padding-right: 5px;
}

.cur-amounts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 85%;
  height: 28px;
}

.tag-toggle {
  color: #00838f !important;
  background: rgba(10, 179, 201, 0.1) !important;
  font-weight: 900 !important;
  border-color: #00838f !important;
  transition: 0.6s linear;
  box-shadow: -2px 0px 7px 0px #ffffff, 0em 0em 0.4em #ab2626;
}

.button-fa {
  color: #d61414c7;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.fa-div {
  width: 25%;
  margin-right: 0rem;
  font-size: 1.3rem;
  font-weight: 700;
  font-style: italic;
  border-radius: 1rem;
  border: groove #000000;
  background-color: #c7c7c7;
  border-radius: 1rem;
}

.cur-amounts-text {
  font-size: 1rem;
  color: #000000;
  margin-left: 16px;
  padding-top: -1px;
  font-weight: 300;
}

.cur-fa-icon {
  margin: 2px 0px 0px 10px;
}
