.reviews-container {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
  width: 630px;
}

.review-avatar-author {
  display: flex;
  align-items: center;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
}

.review-author {
  font-weight: 400;
  width: 50%;
  margin: 30px 40px 30px 20px;
}

.review-author-location {
  font-size: 14px;
  padding-top: 7px;
  font-weight: 200;
}

.review-rating {
  text-align: end;
  width: 100%;
  font-size: 80.5%;
}

.review-content {
  width: 100%;
  font-weight: 400;
  font-size: 75.5%;
  padding: 15px;
  height: 35px;
  white-space: pre;
}
