.reviews-container {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
  width: 630px;
}

.review-rating {
  text-align: center;
  width: 375px;
  font-size: 62.5%;
}

.review-content {
  width: 60%;
  font-size: 62.5%;
  padding: 10px;
  height: 98%;
}
