.warning-headline {
  display: flex;
  color: #fff;
  background: #000;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 1.2em;
  font-weight: normal;
}

.page-status {
  padding: 20px;
  font-weight: bold;
  width: 25%;
}

.page-message {
  padding: 20px;
  font-weight: bold;
}
