html,
body {
  width: 100%;
  height: 100%;
}

article {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

footer {
  padding: 1rem;
}

main {
  background: whitesmoke;
  color: #444;
}

.tbi-container {
  position: relative;
}

.tbi-wrapper {
  min-height: 110vh;
}

.tbi-wrapper:after {
  content: '';
  display: block;
}
